{% extends 'layout.html' %}


{% block body %}
{% from "includes/formhelper.html" import render_field %}


<hr>
<body  >
<div style="text-align:center" class="container">
	<div class="d-flex justify-content-center h-100">
		<div style="background-color:#191819" class="card">
			<div class="card-header">
				<h3 style="color:#FFFFFF">Sign In</h3>
			
			</div>
			<div   class="card-body">
				<form  method = "post">
					<div style="hight:20px " class="input-group form-group">
						<div class="input-group-prepend">
							<span style="height:40px;background-color:#2B2B2B"  class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						
						{{ render_field(form.username,style="height:40px;background-color:#2B2B2B",class = "form-control")}}
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span style="height:40px;background-color:#2B2B2B" class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						{{ render_field(form.password,style="height:40px;background-color:#2B2B2B",class = "form-control")}}
					</div>
					
					<div class="form-group">
						<input style="background-color:#2B2B2B" type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
		
		</div>
	</div>
</div>
</body>
{% endblock body %}